<h1>Profile#index</h1>
<p>Find me in app/views/profile/index.html.erb</p>

 



<% User.all.each do |w|%> 
			<%if w.profile%>
			<%=link_to w.email, profile_path(w.profile.id) %>

			<br><br>

			<%end%><%end%>


			test 