// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.de_portbox {
	width: 95%;
	height: 95%;
	margin-top: 2.5%;
	margin-left: 2.5%;
	display: inline-block;
	overflow:hidden;
}

.de_portbody {
	width: 70%;
	height: 90%;
	margin-top: 2.5%;
	margin-left: 8%;
	float: left;
	line-height: 2.4em;
	font-family: Quicksand;
	font-weight: 400;
	font-size: 0.9em;
}
.de_eventname {
	width: 90%;
	height: 8%;
	// margin-top: 2.5%;
	// margin-left: 2.5%;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 1.4em;
	color:white;
	background-color:#32b5ff;
	padding: 5px 20px 10px 20px;
}
.de_subbutton {
	// position: relative;
	width: 150px;
	height: 30px;
	background-color:#32b5ff;
	display:inline;
	padding: 5px 20px 10px 20px;
	margin-left: 32%;
	justify-content:center;
	align-items:center;
	color:white;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 1.3em;
	text-decoration: none;
	border: none;
}


.ne_portbox {
	width: 95%;
	height: 95%;
	margin-top: 2.5%;
	margin-left: 2.5%;
	display: inline-block;
}

.ne_portbody {
	width: 70%;
	height: 90%;
	// margin-top: 2.5%;
	margin-left: 8%;
	float: left;
	line-height: 2.4em;
	font-family: Quicksand;
	font-weight: 400;
	font-size: 1em;
}
.ne_portbody h2 {
	color:#32b5ff;
	font-family: Quicksand;
	font-weight: 300;
	font-size: 1.8em;
	text-align: center;
	margin-top: -10px;
}
.neform {
	color:#3880ee;
	font-family: Quicksand;
	font-weight: 300;
	font-size: 0.8em;
	margin-bottom: 10px;
	height:15px; 
    width:200px; 
    padding:5px 8px;
}
.neform_desc{
	color:#7fedffff;
	font-family: Quicksand;
	font-weight: 400;
	font-size: 0.8em;
	margin-top: -30px;
	margin-left: 150px;
    padding:5px 8px;
}

.ne_subbutton {
	// position: relative;
	width: 150px;
	height: 30px;
	background-color:#32b5ff;
	display:inline;
	padding: 5px 20px 10px 20px;
	margin-left: 1.8%;
	// margin-top: 30px;
	justify-content:center;
	align-items:center;
	color:white;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 1.3em;
	text-decoration: none;
	border: none;
}


